<header>
  <%= render partial: '/pages/header', locals: { header: "#{t('game.h1')}"} %>
</header>
<div id="bottomdivider"></div>
<main>
  <%= render partial: '/pages/game/game' %>
</main>
<footer>
  <%= render partial: '/pages/footer' %>
</footer>
