:root {
  --focus: #{rgb(0, 255, 76)};
  --background: white;
  --t_p: black;
  --t_s: darkgrey;
  --p: black;
  --s: darkgrey;
  --t: grey;
  --foot: white;

  --positive: green;
  --negative: red;

  --formbutton: rgb(175, 175, 175);
}

$focus: var(--focus);

$background: var(--background);

$t_p: var(--t_p);
$t_s: var(--t_s);

$p: var(--p);
$s: var(--s);
$t: var(--t);

$fb: var(--formbutton);

$pos: var(--positive);
$neg: var(--negative);

$foot: var(--foot);
