:root {
  --focus: #{rgb(0, 255, 76)};
  --background: white;
  --t_p: black;
  --t_s: darkgrey;
  --p: black;
  --s: darkgrey;
  --t: grey;
  --foot: #323232;
  --smoke: whitesmoke;

  --linkhl: lightblue;

  --positive: green;
  --negative: red;

  --formbutton: rgb(175, 175, 175);
  --formlight: #e1e1e1;

  // leaderboard grid vars
  --rowNum: 4;
}

$focus: var(--focus);

$background: var(--background);

$t_p: var(--t_p);
$t_s: var(--t_s);

$p: var(--p);
$s: var(--s);
$t: var(--t);

$lhl: var(--linkhl);

$fb: var(--formbutton);
$fl: var(--formlight);

$pos: var(--positive);
$neg: var(--negative);

$foot: var(--foot);
$smoke: var(--smoke);

//leaderboard grid vars scss
$rowNum: var(--rowNum);
