@import 'base';
header {
  min-height: 96px;
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: 0.4fr 1fr 0.4fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'left center right';
  div#left {
    margin-left: 48px;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    #darktheme {
      @include btn;
      min-height: 48px;
      min-width: 48px;
      max-height: 48px;
      max-width: 48px;

      background-size: 100%;
      margin-right: 20px;
      &.light {
        background-color: $background_d;
        &:hover {
          background-color: $foot;
        }
      }
    }
  }
  div#center {
    grid-area: center;
    justify-self: center;
    display: inline-flex;
    flex-direction: column;
    h1 {
      color: $t_p;
      font-size: 48px;
      justify-self: center;
      margin: 0px;
    }
    // only applies to play button on homepage
    #play {
      @include playbtn;
      justify-self: center;
      align-self: center;
      font-size: 24px;
      width: 100%;
    }
    //otherwise more standard button styling is used
    .button_to {
      @include btn;
      justify-self: center;
      align-self: flex-start;
      font-size: 18px;
      width: 100%;
    }
  }
  div#right {
    grid-area: right;
    display: inline-flex;
    max-height: 100%;

    #loginsignupcontainer {
      height: 5em;
      display: flex;
      .button_to {
        margin-bottom: 1em;
      }
    }

    #likesrankcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1em;
      height: 5em;
      p {
        margin: 0px;
        color: $t_s;
      }
    }
    .usericon {
      width: 5em;
      height: 5em;
      justify-self: center;
      margin-top: 20px;
      background-color: whitesmoke;
      border: 2px solid $p;
      border-radius: 50%;
      &.active {
        @include imagebtn;
      }
    }
    div {
      margin-top: 20px;
      height: 4em;
      max-width: 100%;
      margin-left: 1em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      #username {
        margin: 0px;
      }
      form {
        @include btn;
        align-self: center;
        display: block;
        min-width: 100%;
      }
    }
  }
}
h1#h1.d_header {
  color: white;
}

footer {
  height: 4rem;
  background-color: $foot;
  border-top: 2px solid $p;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
    'divider'
    'content';
  #footercontainer {
    position: relative;
    img {
      position: fixed;
      min-width: 100%;
      min-height: 64px;
    }
    div#outerdiv {
      position: fixed;
      left: 50%;

      grid-area: content;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      div#innerdiv {
        position: relative;
        left: -50%;
        display: flex;
        flex-direction: row;
        a {
          color: $t_s;
          text-decoration: none;
          cursor: pointer;
          align-self: center;
          padding: 0 1rem 0 1rem;
          &:hover {
            color: $lhl;
          }
        }
        #contactflexbox {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          a {
            color: $t_s;
            text-decoration: none;
            cursor: pointer;
            &:hover {
              color: $lhl;
            }
          }
        }
      }
    }
  }

  p {
    align-self: center;
    padding: 0 1rem 0 1rem;
    color: $t_s;
  }
}
