<div id="title">
  <h2>Leaderboard</h2>
  <div id="divider"></div>
</div>
<button id="testadd">Add</button>
<div class="leaderboard_container">
  <%# Dynamic leaderboard entries are added here from leaderboard.js%>
</div>
