<div id="title">
  <h2>Leaderboard</h2>
  <div id="divider"></div>
</div>
<a href="">Add</a>
<div class="leaderboard_container">
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
  <div class="lb_entry"></div>
</div>
