<div id="center">
  <h1>Adorapet</h1>
  <button id="play">Play</button>
</div>
<div id="right">
  <%= image_tag("default_user.png", :alt => "usericon", id:"usericon") %>
  <div>
    <p class="username">Not logged in</p>
    <p class="likes">0 Likes</p>
    <p class="position">Unranked</p>
  </div>
</div>
