<header>
  <%= render partial: '/pages/header', locals: { header: "Adorapet"} %>
</header>
<div id="divider"></div>
<main>
  <%= render partial: '/pages/landingpage/leaderboard' %>
</main>
<footer>
  <%= render partial: '/pages/footer' %>
</footer>
