<%# This is a very simple view for adding a profile picture to the current user%>
<%= form_with(id:"avatarform") do |f|%>
  <div>
    <%= f.file_field :avatar %><%=label_tag "avatar", "Choose File"%><br/>
  </div>
  <div>
    <%= button_to "Submit",profilepage_attachprofilepicture_path, method:'get'%>
  </div>
<% end %>
