<header>
<%= render partial: '/pages/header', locals: { header: "Profile"} %>
</header>
  <div id="bottomdivider"></div>

<main>
<%= render partial: '/pages/profilepage/userprofile' %>
</main>
<%= content_tag :p, current_user.username,id:"username" %><br/>
