<h1>Profilepage#profile</h1>
<p>
  Add functionality for changing profile picture, uploading pets and then images
  for those pets and also list number of likes each pet and each pet photo has.
  This should interact with new table in database that's linked to user in User
  table
</p>
