<header>
  <%= render partial: '/pages/header', locals: { header: "#{t('profilepage.h1')}"} %>
</header>
<div id="bottomdivider"></div>
<main>
  <%= render partial: '/pages/profilepage/userprofile' %>
</main>
<footer>
  <%= render partial: '/pages/footer' %>
</footer>
