<!DOCTYPE html>
<html>
  <head>
    <title>Adorapet - Contest</title>
    <%= stylesheet_link_tag "game/game_index" %>
    <%= render :template => 'layouts/application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
