<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "landing_page/landing_page" %>
    <%= javascript_pack_tag 'leaderboard', 'data-turbolinks-track': 'reload' %>
    <%= render :template => 'layouts/application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
